body {

    background:rgb( 0, 0, 0 )
}

h1 {
    text-align: center;
    color:red;
}

h2 {
    text-align: center;
    color:red;
}

p {
    text-align: center;
    color:white;
}

body {
    background:rgb(0, 0, 0)
}

p2 {
    text-align: center;
    color:white;
}

h3 {
    text-align: center;
    color:red
}

p3 {
    text-align: cebter;
    color:white;
}
}
